*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.header-section{
    width: 100%;
    background: #000;
}
.header{
    margin: 0 auto;
    width: 100%;
    display: block;
}

.header p{
    color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 15px;
    text-align: center;
}
.header span{
    color: teal;
}
.header .fa-bars{
    color: white;
    display: none;
}

@media only screen and (max-width: 620px) {
    .header{
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header p{
        color: white;
        font-size: 20px;
        cursor: pointer;
        letter-spacing: 15px;
        text-align: center;
    }

    .header .fa-bars{
        display: block;
    }
  }